.DS_Store
node_modules
/dist
deploy.sh
*.tar.gz
*.tar
*.zip
__pycache__
*.sav


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.editorconfig
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace


# all dot files except .gitignore
.*
!.gitignore
